$black: hsl(0,0,0%);
$grey: hsl(0,0,60%);

$card-radius:1em;

@import "../node_modules/bulma/bulma.sass";

.card {
  min-height: 17.5em;
}

html {
  background-color: $black;
}

section {
  display: none;
}

.no-height {
  height:0;
}

.mainImage {
  width: 10em;
}