$black: hsl(0,0,0%);
$grey-light: hsl(0,0,40%);
$grey-lighter: hsl(0,0,60%);

$card-radius:1em;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";

// use this instead when adding new features
// @import "../node_modules/bulma/bulma.sass"

.card {
  min-height: 17.5em;
}

html {
  background-color: $black;
}

section {
  display: none;
}

.no-height {
  height:0;
}

.mainImage {
  width: 10em;
}