<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.nicklausw.com/$1 [R,L]
</IfModule>

<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
</IfModule>

ErrorDocument 404 /404.html
