$black: hsl(0,0%,0%);
$grey-light: hsl(0,0%,45%);
$grey-lighter: hsl(0,0%,60%);

$card-radius:1em;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";

// use this instead when adding new features
// @import "../node_modules/bulma/bulma.sass"

$textChange: $desktop + 200;

@include from($textChange) {
  .nameText {
    text-align: left;
    margin-left: $size-2;
    height: 0;
  }
  .subText {
    text-align: right;
    margin-right: $size-2;
    padding-top: $size-6;
  }
}

@include until($textChange) {
  .nameText {
    text-align: center;
  }
  .subText {
    text-align: center;
  }
}

.card {
  min-height: 17.5em;
  background-color: $grey-lighter;
}

// the card classes don't actually show up next to each other.
// they're each inside a column class, so those are what we use nth-child on.
.column:nth-child(2n) .card {
  background-color: $grey-light;
}

html {
  background-color: $black;
}

section {
  display: none;
}

.no-height {
  height:0;
}

.mainImage {
  width: 10em;
}

.noHighlight {
  color: $black;
}