$black: hsl(0,0%,0%);
$card-radius:1em;

$color1: hsl(352, 70%, 80%);
$color2: hsl(170, 75%, 75%);

@import "../node_modules/bulma/bulma.sass";

// tablet and larger screen.
@include tablet {
  nav {
    margin-left: 5%;
    margin-right: 5%;
  }

  .column {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }

  .columns {
    display: flex !important;
    flex-direction: row !important;
    align-items: stretch !important;
  }

  .card {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

@include touch {
  // the below is for navbar fade effect
  .navbar-menu {
    display: block;
    opacity: 0;
  
    position: absolute;   /* or float: left; width: 100%;*/
    left: 0;
    right: 0;

    transform: translateY(-15%);
    transition: all .2s ease-in-out;
    pointer-events: none;
  }
  
  .navbar-menu.is-active {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }
}

.card {
  background-color: $color1;
}

// the card classes don't actually show up next to each other.
// they're each inside a column class, so those are what we use nth-child on.
.column:nth-child(2n) .card {
  background-color: $color2;
}

html {
  background-color: $black;
}

.no-height {
  height:0;
}

.mainImage {
  width: 10em;
}

.header-white h1, h2 {
  color: $white !important;
}

// code blocks won't overflow horizontally
pre {
  overflow: auto;
  background-color: transparent !important;
}

code {
  border-radius: 1em;
}

a {
  color: hsl(236, 100%, 70%);
  &:focus, &:hover {
    color: hsl(236, 100%, 80%);
  }
}